.gitignore
Makefile
DOXY_DOCUMENTS
log.log
*VERSIONS.sh
*.swp
*.dum
internalPrograms/*/bin/*
*git-ignore-me*
Doxygen/def
Doxygen/html
Doxygen/docs_build.log
compile.messages
GMML_Log.txt

#various build dirs
cmakeBuild/
build/
bin/
lib/

#ide stuff
.cproject
.project
.settings/
