.gitignore
.project
.qmake.stash
*.o
*.so
*.gch
Makefile
gmml.pro
libgmml.so.1
libgmml.so.1.0
libgmml.so.1.0.0
DOXY_DOCUMENTS
log.log
*VERSIONS.sh
*.swp
*.dum
programs/GlycoproteinBuilder
*git-ignore-me*
Doxygen/def
Doxygen/html
Doxygen/docs_build.log
compile.messages
GMML_Log.txt
.cproject
.settings/language.settings.xml .settings/org.eclipse.cdt.core.prefs
.settings/
